WECOM_CORP_ID=wwxxxxxxxxxxxxxxxx
WECOM_AGENT_ID=1000002
WECOM_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WECOM_TOKEN=optional_callback_token
WECOM_AES_KEY=optional_callback_aes_key
WECOM_DOUBAO_ASR_APP_ID=optional_app_id
WECOM_DOUBAO_ASR_TOKEN=optional_access_token
WECOM_DOUBAO_ASR_RESOURCE_ID=optional_resource_id
WECOM_DOUBAO_ASR_CLUSTER=optional_cluster
